<h1>Menu</h1>

<% Section.all.each do |section| %>
	<div class="btn-group" role="group" aria-label="Basic example">
	  <%= link_to section, menu_path(section: section), class: 'btn btn-secondary' %>
	</div>
<% end %>

<% @food_items.in_groups_of(3) do |group| %>
	<div class="row">
		<% group.compact.each do |food_item| %>
			<div class="col-sm-4">
				<div class="card">
					<%= image_tag food_item.image_url, class: 'card-img-top' %>
					<div class="card-block">
						<h4 class="card-title"><%= food_item.name %></h4>	
						<p class="card-text"><%= food_item.description %></p>
					</div>
					<div class="card-block">
						<a href="#" class="card-link btn btn-danger">Order</a>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>
